.Head-title {
    font: italic;
    text-align: center;
}

.Head {
    font-size: larger;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    background-color: blueviolet;
}

header {
    font-size: larger;
    font-family: fantasy;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 53px;
    height: 53px;
}
  
.square:focus {
    outline: none;
}

.emptySquare {
    background: #e7e7e7;
    border: 0.2px solid transparent;
    float: left;
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 53px;
    height: 53px;
}
  
.emptySquare:focus {
    outline: none;
}

.Board-Row:after {
    clear: both;
    content: "";
    display: table;
}


.ChessBoard-Total-Render {
    margin: 10px 160px 10px 160px;
    /*border: 10px solid #4CAF50;
    padding: 10px 10px 10px 10px; */
}


.Total-Board {
    border: 7.5px solid gray;
    float: right;
}

.LeftBoard {
    float: left;
    height: 400px;
    width: 500px;
}

.LeftHistory {
    overflow: scroll;
    height: 300px;
}

.LeftHistory-Head {
    font-size: larger;
}


.ButtonCallHistory {
    /*
    background: #e7e7e7;
    border: 0.2px solid transparent;
    float: left;
    font-size: auto;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    */
    text-align: center;
    width: 300px;
    height: 25px; 
}
